.custom-card {
    padding: 0; /* Elimina el padding predeterminado de la tarjeta */
    border-radius: 0; /* Opcional: elimina el redondeo de los bordes de la tarjeta */
    overflow: hidden; /* Asegura que la imagen no sobresalga de la tarjeta */
}

.news-img {
    width: 100%;
    height: 180px;
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio sin distorsionarse */
    border-top-left-radius: 0; /* Elimina el redondeo del borde superior izquierdo */
    border-top-right-radius: 0; /* Elimina el redondeo del borde superior derecho */
}

.card-body-custom {
    display: flex; /* Activa Flexbox */
    flex-direction: column; /* Alinea los elementos en una columna */
    
}

.fecha{
    font-size: 0.8rem;
    text-align:end;
    margin-top: auto;
}

.titulo{
    white-space: nowrap; /* Evita que el texto se desborde */
    overflow: hidden; /* Evita que el texto se desborde */
    text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto */
}