.tablero {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas */
    gap: 16px; /* Espacio entre los elementos */
    justify-content: center; /* Centra los elementos en el tablero */
    padding: 16px; /* Espacio alrededor del tablero */
}